.usuario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    label {
        display: block;
        margin-bottom: 10px;
    }
    
    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
    }
    
    button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        width: 150px;
    }
    
    button:hover {
        background-color: #45a049;
    }

    a {
        font-weight: 500;
        color: #2d8038;
        text-decoration: inherit;
      }
      a:hover {
        color: #45a049;
      }
}